



<div class="header">
<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="./assets/images/logo.png" width="125px">
        </div>
        <nav>
            <ul>
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/product']">Categories</a></li>
                <li><a [routerLink]="['/productdetail']">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Account</a></li>
            </ul>
        </nav>
        <img src="./assets/images/cart.png" width="30px" height="30px">
    </div>


</div>
</div>

<div class="cont2">
    <h1>About RedStore</h1>
    <a href="#" class="btn">Explore Now &#10132;</a>
</div>

<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-1">
                <img src="./assets/images/5.jpg" class="offer-img">
            </div>
            <div class="col-1">
                <h1>Why Choose Us</h1>
                <small>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</small><br>
                <br>
                <i class="fa fa-check" aria-hidden="true"></i>
                <small>   Wide Range of Products</small><br>
                <i class="fa fa-check" aria-hidden="true"></i>
                <small>   Delivery World-Wide</small><br>
                <i class="fa fa-check" aria-hidden="true"></i>
                <small>   Trusted Brands</small><br><br>
                <a href="#" class="btn1">Learn More &#8594;</a>


            </div>
        </div>
    </div>
</div>



    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="./assets/images/play-store.png">
                        <img src="./assets/images/app-store.png">

                    </div>

                </div>
                <div class="footer-col-2">
                    <img src="./assets/images/logo-white.png">
                    <p>Our Purpose Is To Sustainably Make The Pleasure and Benefits of Sports Accessible To Many.</p>

                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog-Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>


                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Facebook</li>
                        <li>Youtube</li>
                    </ul>


                </div>
            </div>

        </div>
    </div>